<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Jogos Populares</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='styles_index.css')}}" />

</head>
<body>
  <h1>Principais promoções</h1>
  <div class="gallery">
    <div class="game-card" title="Clair Obscur Expedition Cover">
      <img class="game-image" src="https://upload.wikimedia.org/wikipedia/en/5/5a/Clair_Obscur%2C_Expedition_33_Cover_1.webp" alt="Clair Obscur Expedition Cover" />
      <div class="game-title">Sensação</div>
    </div>
    <div class="game-card" title="Rainbow Six Siege">
      <img class="game-image" src="https://upload.wikimedia.org/wikipedia/pt/7/78/Rainbow_six_siege_capa.jpg" alt="Call of Duty: Modern Warfare II" />
      <div class="game-title">FPS online</div>
    </div>
    <div class="game-card" title="Elden Ring">
      <img class="game-image" src="https://upload.wikimedia.org/wikipedia/en/f/f0/Elden_Ring_Nightreign_cover_art.png" alt="Elden Ring" />
      <div class="game-title">Pré venda</div>
    </div>
    <div class="game-card" title="God of War Ragnarök">
      <img class="game-image" src="https://th.bing.com/th/id/ODL.b22d9be9e504ddd50b67241702af59d1?w=245&h=320&c=10&rs=1&o=6&dpr=1.3&pid=AlgoBlockDebug" alt="God of War Ragnarök" />
      <div class="game-title">Acesso antecipado</div>
    </div>
    <div class="game-card" title="Hollow Knight">
      <img class="game-image" src="https://upload.wikimedia.org/wikipedia/pt/a/a1/Hollow_Knight_Cover.jpg" alt="Hollow Knight" />
      <div class="game-title">Indie</div>
    </div>
    <div class="game-card" title="Cyberpunk 2077">
      <img class="game-image" src="https://upload.wikimedia.org/wikipedia/en/9/9f/Cyberpunk_2077_box_art.jpg" alt="Cyberpunk 2077" />
      <div class="game-title">Cyberpunk 2077</div>
    </div>
  </div>
  <div class= "btn-container">
    <button class="btn-login" onclick="alert('Botão de login clicado!')">Login</button>
    <button class="btn-cadastro" onclick="alert('Botão de cadastro clicado!')">Cadastro</button>
</div>
</body>
</html>
