<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Jogos Populares</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='styles_index.css')}}" />

</head>
<body>
  <h1>Principais promoções</h1>
  <div class="gallery">
    <div class="game-card" title="Clair Obscur Expedition Cover">
      <img class="game-image" src="https://steamcdn-a.akamaihd.net/steam/apps/1903340/header.jpg" alt="Clair Obscur Expedition Cover" />
      <div class="game-title">Sensação</div>
    </div>
    <div class="game-card" title="Battlefield 2042">
      <img class="game-image" src="https://th.bing.com/th/id/OIP.NvFjdMnCmhikaHJ5W0g9cgHaEK?rs=1&pid=ImgDetMain" alt="Battlefield 2042" />
      <div class="game-title">FPS online</div>
    </div>
    <div class="game-card" title="Elden Ring Nightreign">
      <img class="game-image" src="https://th.bing.com/th/id/OIP.0JYrUN92QxYkyJ4b1YUfHAAAAA?w=440&h=248&rs=1&pid=ImgDetMain" alt="Elden Ring Nightreign" />
      <div class="game-title">Pré venda</div>
    </div>
    <div class="game-card" title="GTA 6">
      <img class="game-image" src="https://th.bing.com/th/id/OIP.c1vwbnONVXlpJgBnzS6xZwHaEK?w=295&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="GTA 6" />
      <div class="game-title">Acesso antecipado</div>
    </div>
    <div class="game-card" title="Hollow Knight">
      <img class="game-image" src="https://upload.wikimedia.org/wikipedia/pt/a/a1/Hollow_Knight_Cover.jpg" alt="Hollow Knight" />
      <div class="game-title">Indie</div>
    </div>
    <div class="game-card" title="Minecraft">
      <img class="game-image" src="https://th.bing.com/th/id/OIP.0L9oSnoLyNKnqNE4jLTUBAHaEK?w=324&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Minecraft" />
      <div class="game-title">Aventura</div>
    </div>
  </div>
  <div class= "btn-container">
    <a href="/cadastro">    <button class="btn-login">Login</button>
      
</div>
</body>
</html>
